doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Review Request
  body
    h1 Dear #{firstName},
    p Thank you for booking the #{tourName} tour. We hope you had a wonderful experience!
    p We'd love to hear your feedback. Please take a moment to share your thoughts and rate your experience with us.
    p Your feedback helps us improve our services and provide better experiences for our customers.
    a(href="https://example.com/review") Click here to leave a review
    p Thank you for choosing our services.
    p Best regards,
    p The Team
