footer.footer
  .footer__logo
    img(src='/img/logonew.png' alt='Odyssey logo' style='width: 100px; height: auto;')

  ul.footer__nav
  p.footer__copyright &copy; by pruthvij desai.
  p.footer__gratitude(style='color: rgba(0,0,0,0.3)') Thank you for your support , Jonas Schmedtmann.
