extends base

block content
  doctype html
  html(lang="en")
    head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Password Reset
    body
      h2 Password Reset
      form(id="resetPasswordForm")
        label(for="password") New Password:
        input(type="password", id="password", name="password", required)
        
        label(for="passwordConfirm") Confirm Password:
        input(type="password", id="passwordConfirm", name="passwordConfirm", required)
        
        input(type="submit", value="Reset Password")